<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estsoft.travelfriendflow2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="여친"
            android:icon="@drawable/logo"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
            android:name=".FirstStartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".JoinActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".JoinWithEmailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LookAroundActivity" />
        <activity android:name=".SaleActivity" />
        <activity android:name=".KorailActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MyTravelActivity" />
        <activity android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AttractionActivity" />
        <activity android:name=".NewTravelSettingActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MapActivity"  android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MyTravelListActivity" />
        <activity android:name=".BookmarkListActivity" />

    </application>

</manifest>